/*Reset de estilos por defecto*/
* {
    margin: 0;
    border-radius: 10px;
}

body {
    background:
    linear-gradient(-135deg, rgb(34, 76, 152) 10%, transparent),
    repeating-linear-gradient(45deg, rgba(34, 76, 152, 1) 0%, rgba(31, 48, 94, 0.6) 5%, transparent 5%, transparent 10%),
    repeating-linear-gradient(-45deg, rgba(34, 76, 152, 0.4) 0%, rgba(31, 48, 94, 0.5) 5%, transparent 5%, transparent 10%);
    background-color: rgba(34, 76, 152, 0.25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */
.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 4vh;
}

.container {

    width: 100%;
    margin: 1em auto;
    /*"activar" grid*/
    display: grid;
    gap: 0.3em;/*separación entre partes*/
    grid-template-columns: repeat(5, 1fr);/*crea 5 columnas con 1 fracion de separacion*/
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > footer
.container > div {
    background: #fff;
    padding: 5px;
    border: 1px dotted black;
}

.container .header,
.container .footer {
    margin: 7px;
    grid-column: 1/6; /* indicar columnas que abarca inicio/fin*/
    
    background: white;
    color: black;
}

.container > .content {
    margin: 7px;
    grid-column: span 4; /*span indica columnas a abarcar*/
}

.content > .article {
    background: lightblue;
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container .galery {
    
    margin-top: 7px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    grid-template-rows: 1;
    justify-items: center;
}

.container .galery > img {
    margin: 5px;
    border-radius: 50%;
}

.container > .sidebar {
    margin: 5px;
    /*span indica columnas a abarcar, como 3 + 2 = 5 , abarca el total de columnas del contenedor*/
    grid-column: span 1; 
    background: grey;
    color: white;
/*     display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .sidebar div {
    width: 100%;
    height: 100%;
}

.container .sidebar img {
    width: 70%;
    object-fit: cover;/*ajusta la imagen para que quede lo mejor posible en el espacio que tiene*/
    margin-top: 15px;
    padding: 5px;
}

.container > .others-post {
    margin: 15px;
    color: white;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease; /*animacion para el hover*/
}

/*cuando el cursos se pone encima*/
.container > .others-post:hover {
    cursor: pointer;
    zoom: 110%;
}

.info {
    background: lightcyan;
    display: grid;
    grid-template-columns: repeat(2,1fr);/*crea la base para separar columnas*/
    padding: 10px;
    
}

.info .info-org {
    grid-column: span 1;/*seleccionas cuantas columnas usar de la base*/
    
}

.info .info-local {
    grid-column: span 1;
}

.info .titulo-footer {
    grid-column: span 2;
    margin: 10px;
}


/*responsive small*/
@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }

    .container .content {
        grid-column: 1/-1; /*el 1/-1 es para que abarque todo*/
    }

    .container .sidebar {
        grid-column: 1/-1;
    }

    .container .others-post {
        grid-column: 1/-1;
    }
}