/*Reset de estilos por defecto*/
* {
    margin: 0;
    border-radius: 10px;
}

body {
    background:
    linear-gradient(-135deg, rgb(34, 76, 152) 10%, transparent),
    repeating-linear-gradient(45deg, rgba(34, 76, 152, 1) 0%, rgba(31, 48, 94, 0.6) 5%, transparent 5%, transparent 10%),
    repeating-linear-gradient(-45deg, rgba(34, 76, 152, 0.4) 0%, rgba(31, 48, 94, 0.5) 5%, transparent 5%, transparent 10%);
    background-color: rgba(34, 76, 152, 0.25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */
.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 4vh;
}

.container .content div > h1::before {
    transform: scale(2, 2);
}

.container {
    width: 100%;
    /*"activar" grid*/
    display: grid;
    gap: 0.3em;/*separación entre partes*/
    grid-template-columns: repeat(5, 1fr);/*crea 5 columnas con 1 fracion de separacion*/
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > footer
.container > div {
    background: #fff;
    padding: 5px;
    border: 1px dotted black;
}

.container .header {
    border-radius: 0;
    padding: 0;
    /*display: grid; si creas otra grilla usa esta y no al del fondo*/
    grid-column: 1/6; /* indicar columnas que abarca inicio/fin*/
    background-image: url(img/fondo-avion.jpg);
    background-repeat:no-repeat;
    color: black;
    height: 500px;
}

.container .header .filtro-header {
    /*difuminado*/
    display: grid;
    backdrop-filter: blur(3px);
    background: rgba(164, 219, 235, 0.364);
    /*ajustes para que abarque todo*/
    border-radius: 0;
    height: 100%;
    grid-column: 1fr; 
    justify-content: center;
    align-items: center;
}

.container .footer {
    border-radius: 0;
    grid-column: 1/6; /* indicar columnas que abarca inicio/fin*/

}

.container > .content {
    grid-column: span 4; /*span indica columnas a abarcar*/
}
/*articulo*/
.content > .article {
    background: lightblue;
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
}

.content .article:hover {
    opacity: 70%;
}

.content .article h1,
.content .article p {
    padding: 10px;
}
/*galeria*/
.container .galery {
    
    margin-top: 7px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
}

.container .galery .galery-effect:hover {
    border-radius: 35px;
    background-image: radial-gradient(circle at 50% 50%, #dcffff 0, #bff3ff 16.67%, #a0e4ff 33.33%, #7dd3fd 50%, #56c2f7 66.67%, #1cb2f2 83.33%, #00a3ee 100%);
}

.container .galery img {
    margin: 5px;
    border-radius: 50%;
    transition: all 0.4s ease;

}

.container .galery img:hover {
    transform: scale(0.9, 0.9);
}

.container > .sidebar {
    /*span indica columnas a abarcar, como 3 + 2 = 5 , abarca el total de columnas del contenedor*/

    grid-column: span 1; 
    display: grid;
   /*  grid-template-columns: 1;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); abarcar maximo de la pantala con un minimo de 250px
    justify-items: center;
    align-content: center; */

    /*Se puede aplicar flex y grid, son compatibles, pero no hacerlo en el mismo elemento*/
    display: flex;
    flex-direction: column;
}

.container .sidebar div {
    width: 100%;
    height: 100%;
    /*Grid y centrando en ambos ejes*/
    display: grid;
    align-items: center;
    justify-items: center;
}

.container .sidebar img {
    width: 70%;
    object-fit: cover;/*ajusta la imagen para que quede lo mejor posible en el espacio que tiene*/
    padding: 5px;
    /*align-self: center;*/
    transition: all 0.3s ease; /*Transición para que la transformacion sea más fluida*/
}

.container .sidebar img:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);/*similar a zoom*/
    transform: translate(3%, 3%);
}

/**/

.container > .others-post {
    margin: 20px;
    color: white;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
    transition: all 0.5s ease; /*animacion para el hover*/
}

/*cuando el cursos se pone encima*/
.container > .others-post > img:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.container .footer .footer-filter {
    background: white;
}
/**/

.info {
    background: lightcyan;
    border-radius: 0;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);/*crea la base para separar columnas*/
    padding: 10px;
    
}

.info .info-org {
    grid-column: span 1;/*seleccionas cuantas columnas usar de la base*/
    
}

.info .info-local {
    grid-column: span 1;
}

.info .titulo-footer {
    grid-column: span 2;
    margin: 10px;
}


/*responsive extra small*/
@media only screen and (max-width: 600px) {
    .header {
        text-align: center;
    }

    .container .content {
        grid-column: 1/-1; /*el 1/-1 es para que abarque todo*/
    }

    .container .sidebar {
        grid-column: 1/-1;
    }

    .container .others-post {
        grid-column: 1/-1;
    }

    .info {
        grid-template-columns:1fr;
    }

    .info .titulo-footer {
        grid-column: span 1;
        margin: 10px;
    }
    
}

/*responsive small*/
@media only screen and (min-width: 600px) {
    .header {
        text-align: center;
    }

    .container .content {
        grid-column: 1/-1; /*el 1/-1 es para que abarque todo*/
    }

    .container .sidebar {
        grid-column: 1/-1;
    }

    .container .others-post {
        grid-column: 1/-1;
    }
}

/*responsive medium*/
@media screen and (min-width: 768px) {
    .header {
        text-align: center;
    }

    .container .content {
        grid-column: 1/-1; /*el 1/-1 es para que abarque todo*/
    }

    .container .sidebar {
        grid-column: 1/-1;
    }

    .container .others-post {
        grid-column: span 2;
    }
}

/*responsive large*/
@media only screen and (min-width: 992px) {
    .header {
        text-align: center;
    }

    .container .content {
        grid-column: 1/5; /*el 1/-1 es para que abarque todo*/
    }

    .container .sidebar {
        grid-column: 5/6;
    }

    .container .others-post {
        grid-column: span 2;
    }
}

/*responsive extra large*/
@media only screen and (min-width: 1200px) {
    .header {
        text-align: center;
    }

    .container .content {
        grid-column: 1/5; /*el 1/-1 es para que abarque todo*/
    }

    .container .sidebar {
        grid-column: 5/6;
    }

    .container .others-post {
        grid-column: span 2;
    }

@media screen and (min-width: 1600px) {
    .title {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        text-align: center;
    }

    .container {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .container .content {
        grid-column: 1/5; /*el 1/-1 es para que abarque todo*/
    }

    .container .sidebar {
        grid-column: 5/6;
    }

    .container .others-post {
        grid-column: span 1;
    }

    .info {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}
}